<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
  </configSections>
  <connectionStrings>
    <add name="Commix.Properties.Settings.LocalTestDatabaseConnectionString" connectionString="Data Source=(LocalDB)\MSSQLLocalDB;AttachDbFilename=|DataDirectory|\Databases\LocalTestDatabase.mdf;Integrated Security=True" providerName="System.Data.SqlClient" />
    <add name="Commix.Properties.Settings.ServiformConnectionString" connectionString="Provider=Microsoft.Jet.OLEDB.4.0;Data Source=|DataDirectory|\Databases\Serviform.mdb" providerName="System.Data.OleDb" /><add name="LocalTestDatabaseEntities" connectionString="metadata=res://*/Databases.ReportModel.csdl|res://*/Databases.ReportModel.ssdl|res://*/Databases.ReportModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=(LocalDB)\MSSQLLocalDB;attachdbfilename=|DataDirectory|\LocalTestDatabase.mdf;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" /><add name="ReportModel" connectionString="data source=(LocalDB)\MSSQLLocalDB;attachdbfilename=|DataDirectory|\Databases\LocalTestDatabase.mdf;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework" providerName="System.Data.SqlClient" /></connectionStrings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
  </startup>
  <appSettings>
    <add key="wsUrl" value="https://jsonplaceholder.typicode.com/todos/" />
  </appSettings>
</configuration>